

  {% load static %}

<div class="container-fluid">
            <ul class="nav nav-pills nav-fill">
<!--                <li class="nav-item">-->
<!--                    &lt;!&ndash; set active so that Home is alway the default &ndash;&gt;-->
<!--                  <a class="nav-link active" href="#"><i class="fas fa-home"></i></a>-->
<!--                </li>-->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MOVIES</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="./movies.html">BLu-rays</a>
                        <a class="dropdown-item" href="./movies.html">DVDs</a>
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">TV SHOWS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">RECENTLY ADDED</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">MY LIST</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">ON SALE</a>
                </li>
            </ul>
        </div>